@import "../../styles.sass";

.product-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:$general-gap;
    margin-left: auto;
    margin-right: auto;
    max-width: $div-general-width;
    padding: $general-padding;
}

.product-section__text{
    font-size: $font-size-text;
}
.product-section__text{
    font-size: $font-size-subtitle;
}

.product-section__img {
    width: 100%;
}

.product-section__inform{
    align-items: center;
}

@media (max-width: $screen-sm-min) {
    .product-section {
        grid-template-columns: 1fr;
        gap: $general-gap;
    }
}

