
@import "../../styles.sass";

.footerContent {
    display: grid;
    grid-template-columns: repeat(2, 35% 65%);
    @include color($primary-color);
}

.footerContent__newslatter {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.footerContent__menu {
    display: grid;
    background-color: $element-bck!important;
    grid-template-columns: repeat(1, 100%);
    gap: 40px;
}

.footerContent__eleme {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    gap: 20px;
}

.padding {
    padding: 30px 50px 30px 50px;
}

.element {
    height: 45px;
}

.elementEmail {
    padding-left: 20px;
    background-color: $primary-color;
    color: $element-bck!important;
}

.title {
    color: $element-bck!important;
    font-size: $font-size-subtitle;
}

.elementBtn {
    font-weight: $font-with-bold;
}

.footerContent__img {
    display: flex;
}

.imgSociale {
    width: 20px;
}

.footerContent__imgSociales {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.footerContent__imgSocialesGrid {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 10px;
}

.imgEmpresa {
    height: 60px;
}

.footerContent__linksGrid {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    gap: 30px;
}













.footerContent__linksGrid>a {
    text-align: center;
    @include color($primary-color)
}

.textregistro {
    font-size: 10px;
    @include color($secondary-color);
    text-align: justify;
}

@media (max-width: 768px) {
    .footerContent {
        grid-template-columns: repeat(1, 1fr);
    }

    .footerContent__linksGrid {
        grid-template-columns: repeat(2, minmax(100px, 1fr));
    }
}