
/**
 * Here we can find all variables which this app needs 
 * INDEX:
 *  
 */


/* Colors
  * ======================================================================== */
$primary-color: #363949
$prueba: red
$secondary-color: #888888
$error-color: #e62c3d
$yellow: #f9c468;
$orange: #ef7752;
$body-color: #F9F9F9;
$element-bck: #ffffff;


/* Responsive Sizes
  * ======================================================================== */
/* Extra small screen / phone */
$screen-xss-min: 320px
/* Extra small screen / phone */
$screen-xs-min: 480px
/* Small screen / tablet */
$screen-sm-min: 768px
/* Medium screen / desktop */
$screen-md-min: 992px
/* Large screen / wide desktop */    
$screen-lg-min: 1200px

/* Typography
  * ======================================================================== */
$font-family-base: 'Roboto, Light', sans-serif;
$font-family-baseBold: 'Roboto, Bold', sans-serif;      
$font-size-title: 2.5rem
$font-size-subtitle:  1.5rem
$font-size-text: 1rem
$font-with-slim: 100
$font-with-bold: 700

/* Elements sizes
  * ======================================================================== */
$div-general-width: $screen-md-min
$icon-size:  85px
$general-gap: 20px
$small-gap: 2px
$general-padding: 20px
$small-padding: 10px
$img-min-height: 200px

/* General definitions
  * ======================================================================== */


body
  font-family: $font-family-base
  background-color: $body-color
  
p
  font-size: $font-size-text
  font-family: $font-family-base
  font-weight: $font-with-slim
  color: $secondary-color

a:link
  text-decoration: none
 
.title
  color: $primary-color
  font-weight: $font-with-bold
  font-size: $font-size-title

.subtitle
  color: $secondary-color
  font-weight: $font-with-slim
  font-size: $font-size-subtitle

.text
  color: $secondary-color
  font-weight: $font-with-slim
  font-size: $font-size-text

.centrar-by-margin
  margin-right: auto
  margin-left: auto

.div-parallax
    background-attachment: fixed
    background-position: center
    background-repeat: no-repeat
    background-size: cover
  

    

/* 
    justify-content: center; 
    alineacion vertical 
     alineacion horizontal 
    display: flex
    align-items: center
    justify-content: center  
    
    CENTRAR DISPLAY
    display: flex;
   justify-content: center;
   align-items: center;*/




  
  
  
  



